include ../../mixins/icons/icons.pug
include ../../mixins/soc-list/soc-list.pug

.header-top
    .container
        .header-map
            .header-map__icon 
                <svg xmlns="http://www.w3.org/2000/svg" width="21.256" height="19.732" viewBox="0 0 21.256 19.732">
                    <g id="WlwEcE.tif" transform="translate(-1472.857 -353.95)">
                        <g transform="translate(1472.857 353.95)">
                        <path d="M1483.49,373.669c-3.012,0-6.024-.016-9.036.01a1.614,1.614,0,0,1-1.6-1.6c.018-5.535.009-11.07.011-16.606a1.481,1.481,0,0,1,1.525-1.526q9.119,0,18.238,0a1.5,1.5,0,0,1,1.469,1.513q0,3.8,0,7.593c0,3-.022,5.993.011,8.988a1.641,1.641,0,0,1-1.635,1.636C1489.483,373.649,1486.486,373.669,1483.49,373.669Zm-.007-13.628h-8.754c-.315,0-.315,0-.315.31v5.489c0,2,0,4.006,0,6.009,0,.225.074.3.285.273a1.023,1.023,0,0,1,.142,0q8.706,0,17.414,0c.236,0,.309-.06.308-.3q-.011-5.738,0-11.475c0-.3,0-.307-.316-.307Zm0-4.542h0q-4.387,0-8.774,0c-.221,0-.3.053-.3.288q.021,1.217,0,2.435c0,.218.062.281.279.281q8.8-.008,17.595,0c.23,0,.275-.081.272-.288-.01-.8-.013-1.608,0-2.412,0-.239-.063-.3-.3-.3Q1487.867,355.506,1483.48,355.5Z" transform="translate(-1472.857 -353.95)" fill="#fff"/>
                        <path d="M1482.128,375.726c-1.213,0-2.426,0-3.64,0a.56.56,0,0,1-.562-.269.578.578,0,0,1,.078-.641q1.394-2.024,2.781-4.053c.345-.5.739-.5,1.078,0,.545.8,1.1,1.6,1.642,2.4.115.171.183.156.275-.006a2.758,2.758,0,0,1,.176-.252.444.444,0,0,1,.794,0c.357.5.7,1.008,1.053,1.513.125.181.247.366.373.546a.463.463,0,0,1,.069.528.482.482,0,0,1-.479.235C1484.555,375.724,1483.341,375.726,1482.128,375.726Z" transform="translate(-1474.866 -360.55)" fill="#fff"/>
                        <path d="M1496.158,369.128c.764,0,1.529,0,2.294,0a.741.741,0,0,1,.748.654.756.756,0,0,1-.537.861.772.772,0,0,1-.209.029c-1.529,0-3.059,0-4.587,0a.734.734,0,0,1-.752-.772.742.742,0,0,1,.75-.771c.764,0,1.529,0,2.294,0Z" transform="translate(-1480.989 -360.043)" fill="#fff"/>
                        <path d="M1499.719,375.733c-.268,0-.536,0-.8,0a.772.772,0,0,1-.026-1.541c.543-.013,1.087-.014,1.63,0a.737.737,0,0,1,.716.805.747.747,0,0,1-.737.736C1500.238,375.737,1499.978,375.734,1499.719,375.733Z" transform="translate(-1483.021 -362.072)" fill="#fff"/>
                        <path d="M1478.215,358.5a.773.773,0,1,1-.767-.752A.753.753,0,0,1,1478.215,358.5Z" transform="translate(-1474.388 -355.474)" fill="#fff"/>
                        <path d="M1485.038,357.746a.774.774,0,1,1-.778.764A.733.733,0,0,1,1485.038,357.746Z" transform="translate(-1477.435 -355.474)" fill="#fff"/>
                        <path d="M1481.252,357.744a.749.749,0,0,1,.758.789.773.773,0,0,1-1.547-.028A.756.756,0,0,1,1481.252,357.744Z" transform="translate(-1475.91 -355.473)" fill="#fff"/>
                        </g>
                    </g>
                </svg>
            a(href="").header-map__link Карта сайта
        .header-search-wrapper.js--header-search-wrapper
            form(action="").header-search
                input(type="text" placeholder="Поиск...").header-search__input
                label.header-search__submit
                    input(type="submit")
                    +icon-search
            .header-soc
                +soc-list
            button.header-search-opener.js--header-search-opener
                +icon-search
                <svg xmlns="http://www.w3.org/2000/svg" width="14.768" height="14.769" viewBox="0 0 14.768 14.769">
                    <g transform="translate(-329.294 -561.07)">
                        <rect width="2.553" height="18.333" transform="matrix(0.707, -0.707, 0.707, 0.707, 329.294, 562.875)" fill="#fff"/>
                        <rect width="2.553" height="18.333" transform="matrix(0.707, 0.707, -0.707, 0.707, 342.256, 561.07)" fill="#fff"/>
                    </g>
                </svg>
        button.header-visually-impaired
            <svg xmlns="http://www.w3.org/2000/svg" width="24.508" height="15.383" viewBox="0 0 24.508 15.383">
                <g id="Lwg0eB.tif" transform="translate(-77.909 -913.826)">
                    <g transform="translate(77.909 913.826)">
                        <path d="M77.909,921.426a13.4,13.4,0,0,1,2.525-3.611,12.68,12.68,0,0,1,6.949-3.722,14.623,14.623,0,0,1,7.3.441,12.77,12.77,0,0,1,5.855,3.99,13.582,13.582,0,0,1,1.881,2.9v.191a13.311,13.311,0,0,1-1.58,2.531,12.93,12.93,0,0,1-7.87,4.8,14.89,14.89,0,0,1-3.689.231,12.989,12.989,0,0,1-7.9-3.072,13.2,13.2,0,0,1-3.4-4.368c-.021-.043-.046-.083-.069-.126Zm12.163,6.182a12.754,12.754,0,0,0,2.383-.177,11.463,11.463,0,0,0,8.136-5.727.33.33,0,0,0,0-.375,11.65,11.65,0,0,0-4.081-4.219,12.963,12.963,0,0,0-11.562-.6,11.57,11.57,0,0,0-5.226,4.853.26.26,0,0,0-.007.288,11.529,11.529,0,0,0,4.87,4.7A11.861,11.861,0,0,0,90.072,927.608Z" transform="translate(-77.909 -913.826)" fill="#fff"/>
                        <path d="M92.451,922.37c.107-.1.171-.16.231-.22.936-.936,1.875-1.869,2.8-2.811.16-.163.257-.155.4.012a4.5,4.5,0,0,1,.863,4.715A4.41,4.41,0,0,1,93.12,927a4.621,4.621,0,0,1-1.6-9.1,4.243,4.243,0,0,1,.664-.079c.21-.011.276.064.274.274-.008,1.291,0,2.583,0,3.874Z" transform="translate(-80.18 -914.742)" fill="#fff"/>
                    </g>
                </g>
            </svg>
            span Слабовидящим
        ul.header-buttons-list
            li.header-buttons-list__item
                a(href="")
                    <svg xmlns="http://www.w3.org/2000/svg" width="16.97" height="21.021" viewBox="0 0 16.97 21.021">
                        <path id="Контур_19" data-name="Контур 19" d="M50.888,45.625,49.2,44.241a3.255,3.255,0,0,0-1.946-.606,4.272,4.272,0,0,0-2.465.779,15.981,15.981,0,0,1-4.109-6.272,3.68,3.68,0,0,0,1.99-3.677l-.346-2.206A2.452,2.452,0,0,0,40.2,30.4H38.993a6.57,6.57,0,0,0-.865.26l-.476.173a6.864,6.864,0,0,0-2.509,2.941c-.865,2.682.346,6.445,3.5,11.2,2.811,4.282,5.666,6.445,8.391,6.445a5.112,5.112,0,0,0,3.72-1.644,2.915,2.915,0,0,0,1.081-2.336A2.319,2.319,0,0,0,50.888,45.625Zm-1.3,2.9-.087.087a3.323,3.323,0,0,1-2.465,1.081c-1.471,0-3.893-.995-7.007-5.623-3.59-5.363-3.763-8.261-3.287-9.732a3.373,3.373,0,0,1,1.99-2.076h.043s.692-.173.822-.173.908.043.995.519l.346,2.206a2.125,2.125,0,0,1-1.557,2.033l-.865.346.216.735A17.7,17.7,0,0,0,44.1,46.144l.562.476.779-.649a2.876,2.876,0,0,1,1.773-.649,1.488,1.488,0,0,1,.865.216l1.687,1.384a.681.681,0,0,1,.3.562,1.011,1.011,0,0,1-.476,1.038Z" transform="translate(-34.872 -30.4)" fill="#fff"/>
                    </svg>
            li.header-buttons-list__item
                a(href="")
                    <svg xmlns="http://www.w3.org/2000/svg" width="20.091" height="14.466" viewBox="0 0 20.091 14.466">
                        <path id="Контур_18" data-name="Контур 18" d="M48.787,36.5H30.3a.806.806,0,0,0-.8.8V50.162a.806.806,0,0,0,.8.8H48.787a.806.806,0,0,0,.8-.8V37.3A.806.806,0,0,0,48.787,36.5Zm-1.929,1.607-7.313,5.907-7.313-5.907ZM31.107,49.358V39.273l8.2,6.67.161.2.04-.04.04.04.161-.2,8.2-6.67V49.358Z" transform="translate(-29.5 -36.5)" fill="#fff"/>
                    </svg>
            li.header-buttons-list__item
                a(href="")
                    <svg xmlns="http://www.w3.org/2000/svg" width="21.996" height="19.639" viewBox="0 0 21.996 19.639">
                        <g id="Сгруппировать_3" data-name="Сгруппировать 3" transform="translate(-1334.5 -15.613)">
                            <path id="Контур_20" data-name="Контур 20" d="M34.925,18.5H16.071A1.576,1.576,0,0,0,14.5,20.071V32.64a1.576,1.576,0,0,0,1.571,1.571h2.357v3.928l4.556-3.928H34.925A1.576,1.576,0,0,0,36.5,32.64V20.071A1.576,1.576,0,0,0,34.925,18.5Zm0,14.14H20.392v1.571h-.786V32.64H16.071V20.071H34.925Z" transform="translate(1320 -2.887)" fill="#fff"/>
                            <path id="Контур_21" data-name="Контур 21" d="M20.4,30.085H32.969v1.571H20.4Zm0-3.142H32.969v1.571H20.4Zm0-3.142H32.969v1.571H20.4Z" transform="translate(1318.735 -4.024)" fill="#fff"/>
                        </g>
                    </svg>
.header-bottom
    .container
        .header-description
            a(href="index.html").header-description__logo
                img(src="assets/img/logo.svg", alt="")
            div
                span.header-description__main Земское Собрание Пермского муниципального района
                span.header-description__little Официальный сайт
        nav.header-nav
            ul
                li.header-nav__item
                    a(href="") Устав
                li.header-nav__item
                    a(href="") Герб
                li.header-nav__item
                    a(href="") Флаг
                li.header-nav__item
                    a(href="") Регламент
                li.header-nav__item
                    a(href="") Порядок принятия правовых актов
        button.header-menu-opener.js--header-menu-opener
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="4" viewBox="0 0 18 4">
                <g transform="translate(-652 -154)">
                    <circle cx="2" cy="2" r="2" transform="translate(652 154)"/>
                    <circle cx="2" cy="2" r="2" transform="translate(659 154)"/>
                    <circle cx="2" cy="2" r="2" transform="translate(666 154)"/>
                </g>
            </svg>
        .header-menu.js--header-menu
            .header-menu__order
                <svg xmlns="http://www.w3.org/2000/svg" width="18.383" height="18.72" viewBox="0 0 18.383 18.72">
                    <g transform="translate(-678.34 -2195.222)">
                        <path d="M678.34,2214.752c.376-.371.757-.738,1.125-1.116.121-.125.186-.143.322,0,.79.805,1.594,1.6,2.391,2.4.2.2.394.4.594.6.039.039.073.118.14.087s.026-.1.026-.15q0-1.659,0-3.319,0-5.61,0-11.22c0-.054.007-.108.011-.162h1.873v14.843c.091.021.116-.047.154-.084q1.524-1.483,3.045-2.969c.185-.18.181-.178.358,0q.475.48.958.952c.191.187.194.185,0,.375l-5.234,5.163c-.064.063-.122.132-.183.2h-.108c-.047-.054-.091-.112-.141-.162q-2.242-2.249-4.487-4.495c-.28-.279-.544-.575-.848-.829Z" transform="translate(0 -6.405)" fill="#2862ac"/>
                        <g transform="translate(689.821 2195.222)">
                        <path d="M1001.226,2201.276h-2.691l-.4.858H996.43v-.253l3.071-6.658h.751l3.081,6.658v.253h-1.706Zm-1.355-3.285-.77,1.794h1.56Z" transform="translate(-996.43 -2195.222)" fill="#2862ac"/>
                        <path d="M1002.9,2526.17a2.427,2.427,0,0,1,1.443-4.406h2.993v6.824h-1.745v-2.008h-.907l-1.17,2.008h-1.95v-.253Zm2.691-1.16v-1.687c-.409,0-.838-.01-1.248,0-.994.01-.946,1.687,0,1.687Z" transform="translate(-1001.377 -2509.978)" fill="#2862ac"/>
                        </g>
                    </g>
                </svg>
                span Сортировка в алфавитном порядке
            button.header-menu__close.js--header-menu__close
                <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17.002" viewBox="0 0 17 17.002">
                    <g transform="translate(-329.294 -561.07)">
                        <rect width="2.939" height="21.104" transform="matrix(0.707, -0.707, 0.707, 0.707, 329.294, 563.148)" fill="#2862ac"/>
                        <rect width="2.939" height="21.104" transform="matrix(0.707, 0.707, -0.707, 0.707, 344.216, 561.07)" fill="#2862ac"/>
                    </g>
                </svg>
            nav
                ul
                    li.header-menu__item
                        a(href="") Депутаты
                    li.header-menu__item
                        a(href="") Информация о размещении заказов на поставки товаров, выполнение работ, оказание услуг для муниципальных нужд Земского Собрания
                    li.header-menu__item
                        a(href="") Информация о результатах проверок
                    li.header-menu__item
                        a(href="") История Земского Собрания
                    li.header-menu__item
                        a(href="") Кадровая политика
                    li.header-menu__item
                        a(href="") Конкурс на замещение должности главы Пермского муниципального района
                    li.header-menu__item
                        a(href="") Контрольно-счётная палата Пермского муниципального района
                    li.header-menu__item
                        a(href="") Медиатека
                    li.header-menu__item
                        a(href="") Молодёжный парламент
                    li.header-menu__item
                        a(href="") Муниципальные награды Пермского муниципального района
                    li.header-menu__item
                        a(href="") Новости Земского Собрания
                    li.header-menu__item
                        a(href="") Обращения граждан
                    li.header-menu__item
                        a(href="") Отчеты о работе Земского Собрания
                    li.header-menu__item
                        a(href="") План основных мероприятий
                    li.header-menu__item
                        a(href="") Полномочия Земского Собрания
                    li.header-menu__item
                        a(href="") Постановления главы мун. района
                    li.header-menu__item
                        a(href="") Противодействие коррупциии
                    li.header-menu__item
                        a(href="") Публичные слушания
                    li.header-menu__item
                        a(href="") Решения Земского Собрания
                    li.header-menu__item
                        a(href="") Совет представительных органов Пермского муниципального района
                    li.header-menu__item
                        a(href="") Сотрудничество
                    li.header-menu__item
                        a(href="") Старая версия сайта
                    li.header-menu__item
                        a(href="") Структура Земского Собрания

