mixin icon-search
    <svg xmlns="http://www.w3.org/2000/svg" width="17.138" height="17.213" viewBox="0 0 17.138 17.213">
        <path d="M12.668,10.513a6.659,6.659,0,1,0-1.663,1.669l4.941,4.961a.231.231,0,0,0,.331,0l1.332-1.337a.24.24,0,0,0,0-.333l-4.941-4.961ZM7.2,11.806A5.116,5.116,0,1,0,2.106,6.691,5.105,5.105,0,0,0,7.2,11.806Z" transform="translate(-0.538)" fill-rule="evenodd"/>
    </svg>

