nav#mobile-burger-menu
    ul
        li
            a(href="#") Раздел
        li
            a(href="#") Раздел
            ul
                li
                    a(href="#") Подраздел
                li
                    a(href="#") Подраздел
        li
            a(href="#") Раздел
        li
            a(href="#") Раздел
        li
            a(href="#") Раздел
        li
            a(href="#") Раздел
        li
            a(href="#") Раздел
        li
            a(href="#") Раздел