mixin media-video
    li.media-block
        .media-block__img
            img(src="assets/img/media_02.jpg", alt="")
            <svg xmlns="http://www.w3.org/2000/svg" width="31.582" height="22.137" viewBox="0 0 31.582 22.137">
                <g transform="translate(-425.047 -259.051)">
                    <g transform="translate(425.047 259.051)">
                    <path d="M425.047,272.007V268.23a1.477,1.477,0,0,0,.019-.152c.026-1.023.114-2.041.21-3.06a12.076,12.076,0,0,1,.481-2.676,4.166,4.166,0,0,1,1.492-2.182,4.5,4.5,0,0,1,2.237-.79c.966-.1,1.938-.134,2.907-.172.9-.035,1.794-.057,2.691-.083,1.006-.028,2.012-.02,3.017-.052.789-.025,1.579-.005,2.368-.006,1.556,0,3.111-.012,4.666.032.309.009.618-.009.927,0,1.485.057,2.971.076,4.454.165.713.043,1.426.063,2.134.174A3.93,3.93,0,0,1,455.31,261a5.67,5.67,0,0,1,.912,2.348,26.632,26.632,0,0,1,.355,3.578c.016.285.035.569.053.854v4.6a1.262,1.262,0,0,0-.019.152c0,.663-.057,1.324-.112,1.985a14.445,14.445,0,0,1-.437,3.029,4.452,4.452,0,0,1-1.288,2.258,4.15,4.15,0,0,1-1.9.938,13.361,13.361,0,0,1-1.77.189c-1.026.062-2.054.1-3.081.142-.845.032-1.69.052-2.536.069q-1.02.02-2.04.026c-1.549.009-3.1.036-4.648-.017-.783-.027-1.566-.01-2.349-.031-.988-.027-1.976-.046-2.965-.071-1.057-.027-2.114-.058-3.166-.151a9.207,9.207,0,0,1-1.988-.337,3.64,3.64,0,0,1-2.066-1.551,6.215,6.215,0,0,1-.78-2.166,28.9,28.9,0,0,1-.346-3.235C425.1,273.079,425.077,272.542,425.047,272.007Zm14.384-5.322-.011-.008-.055-.057-.085-.021-.012.069a.561.561,0,0,1-.276-.127c-.38-.252-.76-.505-1.145-.751-.186-.119-.191-.112-.191.109q0,4.186,0,8.372c0,.228,0,.23.212.119q2.042-1.07,4.084-2.142,1.974-1.034,3.95-2.067c.047-.024.113-.029.131-.1-.024-.015-.047-.032-.071-.045q-2.18-1.141-4.36-2.28c-.222-.116-.449-.223-.674-.334a2.016,2.016,0,0,0-.4-.218l-.136-.069-.138-.069-.1-.068-.068-.034-.069-.034-.138-.069-.068-.034-.069-.035-.138-.068-.052-.022h-.1A.037.037,0,0,1,439.431,266.685Z" transform="translate(-425.047 -259.051)" fill="#fff"/>
                    <path d="M842.834,481.921l-.1-.022.021-.034.024-.048.017,0h.017a.094.094,0,0,1-.017-.023h.1l0,.11-.029.026-.02,0-.013-.014Z" transform="translate(-828.4 -474.146)" fill="#fff"/>
                    <path d="M839.615,479.019l-.036-.018q0-.041,0-.081l.085.021-.014.017-.009.035Z" transform="translate(-825.348 -471.372)" fill="#fff"/>
                    <path d="M841.651,479.541l.055.057a.081.081,0,0,1-.024.009.052.052,0,0,1-.019.013l-.029-.027c0-.012,0-.024,0-.035Z" transform="translate(-827.333 -471.972)" fill="#fff"/>
                    <path d="M854.911,488.272a.246.246,0,0,1-.163-.057l.021-.035.01-.1.028-.028h.006l.028.028.009.1.027.033.005.006.023.032Z" transform="translate(-839.997 -480.189)" fill="#fff"/>
                    <path d="M846.016,485.038l.007,0,.032.023.005.006.031.028a.06.06,0,0,1,.015.023l.034.035a.034.034,0,0,1,.012.015l-.02.033a.269.269,0,0,1-.166-.133.047.047,0,0,0,.02-.007Z" transform="translate(-831.518 -477.28)" fill="#fff"/>
                    <path d="M852.806,488.211l-.069-.067.022-.035.009-.035.028-.028h.006l.029.028,0,.1Z" transform="translate(-838.055 -480.185)" fill="#fff"/>
                    <path d="M841.044,482.172l-.06-.065a.072.072,0,0,0,.024,0l.027-.028a.054.054,0,0,1,.019.014l.012.049Z" transform="translate(-826.706 -474.419)" fill="#fff"/>
                    <path d="M850.859,488.177l-.067-.036.02-.033a.063.063,0,0,1,.024-.015.052.052,0,0,1,.019-.013l.029.027,0,.035Z" transform="translate(-836.177 -480.218)" fill="#fff"/>
                    <path d="M867.751,497.148l-.063-.06.026-.025a.062.062,0,0,1,.02.014Z" transform="translate(-852.493 -488.892)" fill="#fff"/>
                    <path d="M869.629,497.108l-.012.052-.05,0,.018-.071a.053.053,0,0,1,.019-.013Z" transform="translate(-854.307 -488.908)" fill="#fff"/>
                    <path d="M871.067,499.5a.066.066,0,0,1,.033.066A.066.066,0,0,1,871.067,499.5Z" transform="translate(-855.756 -491.246)" fill="#fff"/>
                    <path d="M859.569,493.1l0-.02.026-.029h.006l.028.029v.006l-.025.025Z" transform="translate(-844.653 -485.013)" fill="#fff"/>
                    <path d="M860.8,494.126l-.061-.025.025-.025a.057.057,0,0,1,.019.014Z" transform="translate(-845.785 -486.008)" fill="#fff"/>
                    <path d="M862.57,494.124l0-.022.027-.026a.055.055,0,0,1,.019.014.062.062,0,0,1,.014.02l-.024.025Z" transform="translate(-847.551 -486.008)" fill="#fff"/>
                    <path d="M863.812,495.114l-.061-.025.024-.025a.063.063,0,0,1,.02.014Z" transform="translate(-848.691 -486.962)" fill="#fff"/>
                    <path d="M865.57,495.124l0-.022.027-.026a.055.055,0,0,1,.019.014.061.061,0,0,1,.014.02l-.025.026Z" transform="translate(-850.448 -486.974)" fill="#fff"/>
                    <path d="M866.749,496.124l-.033-.033.025-.026a.064.064,0,0,1,.02.014.061.061,0,0,1,.015.02Z" transform="translate(-851.554 -487.928)" fill="#fff"/>
                    <path d="M874.567,498.1l.005-.02.025-.03h.006l.026.024.005.025Z" transform="translate(-859.136 -489.846)" fill="#fff"/>
                    <path d="M873.074,500.021l.035-.05Z" transform="translate(-857.694 -491.701)" fill="#fff"/>
                    <path d="M872.085,501.426a.068.068,0,0,1,.032,0Q872.1,501.448,872.085,501.426Z" transform="translate(-856.739 -493.104)" fill="#fff"/>
                    <path  d="M878.006,502.985l.023.005.029.022v.012l-.029.023Z" transform="translate(-862.457 -494.611)" fill="#fff"/>
                    <path d="M878.707,504.2l-.034-.036.029-.022.029.029Z" transform="translate(-863.101 -495.726)" fill="#fff"/>
                    <path  d="M840.678,481.116l-.023,0-.013-.039.028-.026h.006l.029.027v.008Z" transform="translate(-826.375 -473.432)" fill="#fff"/>
                    <path  d="M886.074,504.021l.035-.05Z" transform="translate(-870.248 -495.563)" fill="#fff"/>
                    <path  d="M879.726,505.017l-.046.039-.012-.038.024-.029h.012Z" transform="translate(-864.061 -496.545)" fill="#fff"/>
                    <path  d="M886.035,505.554c0-.017,0-.033,0-.05C886.034,505.521,886.035,505.537,886.035,505.554Z" transform="translate(-870.209 -497.044)" fill="#fff"/>
                    <path  d="M882.561,507.531l.017-.034.051.034Z" transform="translate(-866.855 -498.968)" fill="#fff"/>
                    <path d="M878.417,499.72l-.01-.04.034.012Z" transform="translate(-862.844 -491.42)" fill="#fff"/>
                    <path  d="M881.7,501.618l.034-.015-.006.04Z" transform="translate(-866.022 -493.277)" fill="#fff"/>
                    <path d="M883.067,504.186c0-.022,0-.045,0-.067a.061.061,0,0,1,.022-.013l.024.024Z" transform="translate(-867.344 -495.694)" fill="#fff"/>
                    <path d="M874.7,496.511l.046-.019a.065.065,0,0,1,.012.023l-.025.025h-.006Z" transform="translate(-859.266 -488.341)" fill="#fff"/>
                    <path  d="M875.658,497.155c0,.018,0,.037,0,.055l-.025-.024v-.006Z" transform="translate(-860.165 -488.981)" fill="#fff"/>
                    <path d="M879.7,499.965c.024-.007.034,0,.028.026Z" transform="translate(-864.09 -491.692)" fill="#fff"/>
                    <path  d="M878.734,500.032h.011l.028.026,0,.012-.029.022-.03-.032Z" transform="translate(-863.138 -491.76)" fill="#fff"/>
                    <path  d="M879.618,501.132l.032.03-.022.032h-.012l-.022-.029,0-.011Z" transform="translate(-863.985 -492.822)" fill="#fff"/>
                    <path d="M884.551,502.062c0-.026.007-.03.028-.02Z" transform="translate(-868.777 -493.696)" fill="#fff"/>
                    <path  d="M878.682,502.137l.036-.036.022.029-.029.029Z" transform="translate(-863.11 -493.758)" fill="#fff"/>
                    <path  d="M880.785,502.042l0,.013-.029.021-.029-.029.022-.032h.011Z" transform="translate(-865.081 -493.675)" fill="#fff"/>
                    <path  d="M884.58,502.22l0-.013.028-.02q0,.028,0,.056Z" transform="translate(-868.801 -493.842)" fill="#fff"/>
                    <path d="M881.622,503.22a.047.047,0,0,1-.021.012l-.029-.022V503.2l.029-.021Z" transform="translate(-865.9 -494.796)" fill="#fff"/>
                    <path d="M883.712,503.168l.033-.033.024.023-.034.034Z" transform="translate(-867.967 -494.756)" fill="#fff"/>
                    <path d="M882.761,506.532a.123.123,0,0,1-.01-.022s.006-.006.01-.009A.07.07,0,0,1,882.761,506.532Z" transform="translate(-867.039 -498.005)" fill="#fff"/>
                    <path  d="M857.664,488.1a.225.225,0,0,1,.034.135l-.026.029,0,0-.027-.033q0-.051,0-.1Z" transform="translate(-842.788 -480.233)" fill="#fff"/>
                    <path  d="M859.748,488.5l.012.121-.026.029h-.006l-.026-.029C859.706,488.578,859.7,488.531,859.748,488.5Z" transform="translate(-844.781 -480.624)" fill="#fff"/>
                    <path  d="M856.661,487.107l.033.034-.026.027h-.006l-.028-.028v-.006Z" transform="translate(-841.817 -479.278)" fill="#fff"/>
                    <path  d="M858.679,492.1h-.011l-.023-.032,0,0,.026-.029h.011l.026.029v.006Z" transform="translate(-843.758 -484.035)" fill="#fff"/>
                    <path d="M855.7,486.51l.046-.019a.073.073,0,0,1,.014.021l-.027.026h-.006Z" transform="translate(-840.917 -478.683)" fill="#fff"/>
                    <path d="M849.83,484.382l.013.088-.027.028a.054.054,0,0,1-.019-.014l-.056-.052-.024-.031A.149.149,0,0,1,849.83,484.382Z" transform="translate(-835.138 -476.644)" fill="#fff"/>
                    <path  d="M847.609,482.591c.009-.034.013-.071.049-.09l.012.087-.026.029,0,0Z" transform="translate(-833.103 -474.83)" fill="#fff"/>
                    <path  d="M848.669,485.021h.011l.024.031a.048.048,0,0,1-.013.018.035.035,0,0,1-.016.012l-.031-.028,0,0Z" transform="translate(-834.102 -477.264)" fill="#fff"/>
                    <path  d="M866.708,492.509l.045-.018a.061.061,0,0,1,.013.021l-.025.027h-.008Z" transform="translate(-851.547 -484.477)" fill="#fff"/>
                    <path  d="M867.691,493.105l.035.035-.026.026a.061.061,0,0,1-.02-.014.052.052,0,0,1-.014-.019Z" transform="translate(-852.472 -485.07)" fill="#fff"/>
                    <path  d="M868.676,494.112l.034.032-.027.028a.056.056,0,0,1-.019-.014.063.063,0,0,1-.015-.02Z" transform="translate(-853.422 -486.043)" fill="#fff"/>
                    <path  d="M870.747,494.491a.064.064,0,0,1,.013.021l-.026.026h-.006l-.026-.029Z" transform="translate(-855.403 -486.409)" fill="#fff"/>
                    <path  d="M869.647,495.035h.01l.026.029v.006l-.027.029-.007,0-.028-.025v-.008Z" transform="translate(-854.359 -486.934)" fill="#fff"/>
                    <path d="M871.661,495.114l.034.034-.026.026h-.006l-.029-.028v-.006Z" transform="translate(-856.303 -487.01)" fill="#fff"/>
                    <path  d="M872.661,496.111l.034.032-.026.029h-.006l-.029-.028v-.006Z" transform="translate(-857.269 -487.973)" fill="#fff"/>
                    <path  d="M873.671,497.1l-.01,0-.028-.026v-.006l.026-.029h.011l.026.029v.006Z" transform="translate(-858.235 -488.865)" fill="#fff"/>
                    <path d="M861.747,489.5l.012.087-.026.029h-.006l-.026-.029C861.706,489.553,861.711,489.518,861.747,489.5Z" transform="translate(-846.711 -481.589)" fill="#fff"/>
                    <path  d="M860.657,492.034h.011l.026.029v.006l-.027.026-.008,0-.027-.029v-.006Z" transform="translate(-845.678 -484.036)" fill="#fff"/>
                    <path d="M863.708,490.549l.045-.052.013.055-.025.027h-.008Z" transform="translate(-848.65 -482.552)" fill="#fff"/>
                    <path  d="M864.691,492.1l.034.032-.027.028a.076.076,0,0,1-.033-.033Z" transform="translate(-849.575 -484.102)" fill="#fff"/>
                    <path d="M865.647,493.029h.011l.025.029a.055.055,0,0,1-.014.019.052.052,0,0,1-.019.014l-.029-.026v-.008Z" transform="translate(-850.496 -484.997)" fill="#fff"/>
                    <path  d="M862.66,492.028h.011l.025.029a.056.056,0,0,1-.014.019.053.053,0,0,1-.019.014l-.029-.027v-.006Z" transform="translate(-847.612 -484.03)" fill="#fff"/>
                    <path  d="M853.747,485.5l.012.053-.026.029h-.006l-.026-.029Z" transform="translate(-838.986 -477.724)" fill="#fff"/>
                    <path  d="M852.643,487.035h.01l.026.029v.006l-.028.028h-.006l-.029-.027v-.008Z" transform="translate(-837.938 -479.209)" fill="#fff"/>
                    <path d="M854.657,487.034h.011l.026.029v.006l-.028.028h-.006l-.029-.028v-.006Z" transform="translate(-839.884 -479.208)" fill="#fff"/>
                    <path d="M843.018,481.466a.023.023,0,1,1,.033,0l-.016,0Z" transform="translate(-828.668 -473.797)" fill="#fff"/>
                    <path  d="M880.782,504.158l-.036.035-.022-.029.029-.029Z" transform="translate(-865.081 -495.723)" fill="#fff"/>
                    <path  d="M870.658,496.107l-.012,0-.026-.029v-.006l.027-.029h.006l.028.028v.006Z" transform="translate(-855.325 -487.91)" fill="#fff"/>
                    <path  d="M871.742,497.107l-.035-.034.026-.027h.006l.029.028v.006Z" transform="translate(-856.374 -488.876)" fill="#fff"/>
                    <path  d="M872.792,498.072a.144.144,0,0,1-.013.023l-.045-.023.025-.026h.006Z" transform="translate(-857.365 -489.842)" fill="#fff"/>
                    <path  d="M869.065,496.1a.073.073,0,0,1-.014.022l-.016,0-.016,0a.072.072,0,0,1,0-.033.054.054,0,0,1,.019-.014Z" transform="translate(-853.776 -487.939)" fill="#fff"/>
                    <path d="M861.672,493.094a.074.074,0,0,1-.014-.022l.027-.026h.006l.029.027v.008l-.027.026A.065.065,0,0,1,861.672,493.094Z" transform="translate(-846.67 -485.013)" fill="#fff"/>
                    <path d="M865.018,494.123a.074.074,0,0,1,0-.034.054.054,0,0,1,.019-.014l.03.026v.008l-.027.026A.065.065,0,0,1,865.018,494.123Z" transform="translate(-849.913 -486.008)" fill="#fff"/>
                    <path  d="M851.019,487.433a.076.076,0,0,1,.033,0,.079.079,0,0,1,0,.033l-.017,0-.016,0A.079.079,0,0,1,851.019,487.433Z" transform="translate(-836.394 -479.591)" fill="#fff"/>
                    <path  d="M850.016,486.5l.032.032-.016,0-.016,0A.069.069,0,0,1,850.016,486.5Z" transform="translate(-835.426 -478.688)" fill="#fff"/>
                    <path  d="M868.05,495.434a.077.077,0,0,1,0,.033l-.016,0-.016,0a.023.023,0,1,1,.033-.033Z" transform="translate(-852.809 -487.318)" fill="#fff"/>
                    <path  d="M864.05,493.434a.078.078,0,0,1,0,.033l-.016,0-.016,0a.023.023,0,1,1,.033-.033Z" transform="translate(-848.947 -485.386)" fill="#fff"/>
                    <path  d="M867.05,494.434a.078.078,0,0,1,0,.033l-.017,0-.016,0a.079.079,0,0,1,0-.033A.077.077,0,0,1,867.05,494.434Z" transform="translate(-851.844 -486.352)" fill="#fff"/>
                    </g>
                </g>
            </svg>
        span.media-block__title Очередное заседание Земского Собрания 24.02.2011
        a(href="https://www.youtube.com/watch?v=TUOmuvI8HBc&ab_channel=Sovenok" data-fancybox).link-block
        