mixin media-img(nameOfGallery)
    li.media-block
        .media-block__img
            img(src="assets/img/media_01.jpg", alt="")
            <svg xmlns="http://www.w3.org/2000/svg" width="27.143" height="23.276" viewBox="0 0 27.143 23.276">
                <g transform="translate(-1245.006 -674.912)">
                    <path d="M1258.579,698.174h-11.722a1.7,1.7,0,0,1-1.838-1.848c0-6.516.013-13.031-.013-19.547a1.853,1.853,0,0,1,1.877-1.867c7.8.026,15.609.013,23.413.014a1.7,1.7,0,0,1,1.839,1.848c0,6.515-.012,13.031.013,19.546a1.851,1.851,0,0,1-1.878,1.867C1266.374,698.152,1262.476,698.174,1258.579,698.174Zm-11.542-4.992c.058-.063.113-.117.162-.176q3.644-4.393,7.287-8.788a1.4,1.4,0,0,1,2.28-.043q1.566,1.719,3.157,3.416a1.048,1.048,0,0,0,1.705.089c.315-.267.628-.536.947-.8a1.072,1.072,0,0,1,1.75.11q2.612,2.809,5.219,5.623c.181.195.374.38.569.577a.56.56,0,0,0,.044-.345c-.01-2.447,0-4.893-.026-7.339-.032-2.547-.011-5.095-.014-7.642,0-.716-.247-.966-.956-.966h-21.174c-.7,0-.993.288-.993.988q0,7.491,0,14.983A.483.483,0,0,0,1247.037,693.182Z" fill="#fff"/>
                    <path d="M1271.492,686.012a2.921,2.921,0,1,1,2.945-2.884A2.9,2.9,0,0,1,1271.492,686.012Z" transform="translate(-6.169 -1.375)" fill="#fff"/>
                </g>
            </svg>
        span.media-block__title Очередное заседание Земского Собрания 24.02.2011
        a(href="assets/img/media_01.jpg" data-fancybox="" + nameOfGallery).link-block
        .media-block__gallery
            a(href="assets/img/media_02.jpg" data-fancybox="" + nameOfGallery)
            a(href="assets/img/media_03.jpg" data-fancybox="" + nameOfGallery)
            a(href="assets/img/media_04.jpg" data-fancybox="" + nameOfGallery)
            a(href="assets/img/media_05.jpg" data-fancybox="" + nameOfGallery)