mixin soc-list
    ul.soc-list
        li.soc-list__item
            a(href="")
                <svg xmlns="http://www.w3.org/2000/svg" width="8.735" height="13.835" viewBox="0 0 8.735 13.835">
                    <g transform="translate(0 0)">
                        <path d="M1450.34,100.938v-.378c.034-.081.06-.162.094-.242a.888.888,0,0,1,.722-.51,1.057,1.057,0,0,1,.688.187c.146.086.284.191.43.271a4.944,4.944,0,0,0,3.172.57,4.327,4.327,0,0,0,2-.767,1.409,1.409,0,0,1,.481-.229.9.9,0,0,1,1.006.393,2.165,2.165,0,0,1,.138.323v.351a1.034,1.034,0,0,1-.335.46,5.14,5.14,0,0,1-2.51,1.141c-.241.042-.49.081-.748.12.035.036.052.057.069.075l1.5,1.418,1.109,1.059a.776.776,0,0,1,.249.828.9.9,0,0,1-.663.656.974.974,0,0,1-.927-.243c-.653-.636-1.315-1.256-1.969-1.888-.095-.1-.155-.1-.258,0-.645.624-1.289,1.24-1.934,1.858a1.089,1.089,0,0,1-.43.276,1.064,1.064,0,0,1-.764-.12.953.953,0,0,1-.449-.593.846.846,0,0,1,.275-.783c.851-.8,1.694-1.609,2.536-2.415a.209.209,0,0,0,.1-.128.258.258,0,0,0-.052-.016c-.112-.017-.224-.033-.335-.048a5.4,5.4,0,0,1-2.665-1.04,1.592,1.592,0,0,1-.533-.586Zm3.912-8.078h.911a.414.414,0,0,0,.052.014,3.8,3.8,0,0,1,2.53,1.477,3.361,3.361,0,0,1,.591,2.743,3.693,3.693,0,0,1-4.312,2.791,3.523,3.523,0,0,1-.442-6.88,4.382,4.382,0,0,1,.67-.141Zm-1.324,3.5a1.787,1.787,0,0,0,3.568.006,1.781,1.781,0,0,0-1.788-1.717,1.755,1.755,0,0,0-1.779,1.718Z" transform="translate(-1450.34 -92.86)"/>
                    </g>
                </svg>
        li.soc-list__item
            a(href="")
                <svg xmlns="http://www.w3.org/2000/svg" width="14.53" height="13.835" viewBox="0 0 14.53 13.835">
                    <path d="M1487.044,107.543h-4.385a2.767,2.767,0,0,1-2.778-2.009,2.628,2.628,0,0,1-.091-.686V96.414a2.7,2.7,0,0,1,2.415-2.679,3.124,3.124,0,0,1,.465-.025h8.759a2.779,2.779,0,0,1,2.809,2.077,2.74,2.74,0,0,1,.071.642q.015,4.193.01,8.387a2.723,2.723,0,0,1-2.435,2.7,3.408,3.408,0,0,1-.515.024C1489.923,107.544,1488.489,107.543,1487.044,107.543Zm-5.84-8.322V104.8a1.266,1.266,0,0,0,.4,1.008,1.445,1.445,0,0,0,1.067.389h8.759a1.453,1.453,0,0,0,1.069-.4,1.274,1.274,0,0,0,.4-1.014V99.227H1490.8c.071.422.162.834.2,1.248a2.852,2.852,0,0,1-.162,1.264,3.527,3.527,0,0,1-.6,1.123,4.059,4.059,0,0,1-3.73,1.508,3.9,3.9,0,0,1-3.171-2.383,3.55,3.55,0,0,1,.01-2.766H1481.2Zm8.4,1.405a2.555,2.555,0,1,0-2.586,2.429,2.656,2.656,0,0,0,1.832-.705,2.342,2.342,0,0,0,.755-1.72Zm3.021-5.311h-2.445v2.324h2.445" transform="translate(-1479.789 -93.709)"/>
                </svg>
        li.soc-list__item
            a(href="")
                <svg xmlns="http://www.w3.org/2000/svg" width="19.017" height="12.483" viewBox="0 0 19.017 12.483">
                    <path d="M19.669,6.453a2.314,2.314,0,0,0-1.681-1.58,60.446,60.446,0,0,0-7.43-.373,60.447,60.447,0,0,0-7.43.373,2.314,2.314,0,0,0-1.681,1.58,21.884,21.884,0,0,0-.4,4.3,21.884,21.884,0,0,0,.4,4.3A2.283,2.283,0,0,0,3.129,16.61a60.447,60.447,0,0,0,7.43.373,60.447,60.447,0,0,0,7.43-.373,2.283,2.283,0,0,0,1.681-1.555,21.884,21.884,0,0,0,.4-4.3,21.884,21.884,0,0,0-.4-4.3ZM8.613,13.394V8.114l4.97,2.64-4.97,2.64Z" transform="translate(-1.05 -4.5)"/>
                </svg>
        li.soc-list__item
            a(href="")
                <svg xmlns="http://www.w3.org/2000/svg" width="16.807" height="13.835" viewBox="0 0 16.807 13.835">
                    <g transform="translate(0)">
                        <path d="M1387.074,105.828a3.559,3.559,0,0,1-3.246-2.427,3.426,3.426,0,0,0,1.534-.061,3.568,3.568,0,0,1-2.752-3.474,3.589,3.589,0,0,0,1.586.431,3.523,3.523,0,0,1-1.082-4.647,9.9,9.9,0,0,0,7.143,3.642c-.021-.21-.053-.395-.063-.579a3.453,3.453,0,0,1,2.91-3.673,3.331,3.331,0,0,1,2.931.929.3.3,0,0,0,.326.092,7.054,7.054,0,0,0,1.817-.7c.053-.027.094-.051.179-.093a3,3,0,0,1-.578,1.07c-.263.3-.567.564-.84.83a6.793,6.793,0,0,0,1.859-.517.642.642,0,0,1-.084.144,6.949,6.949,0,0,1-1.491,1.543.262.262,0,0,0-.116.264,9.735,9.735,0,0,1-10.462,10.2,9.685,9.685,0,0,1-4.475-1.409q-.092-.053-.179-.115a7.02,7.02,0,0,0,5.084-1.451Z" transform="translate(-1381.99 -94.993)"/>
                    </g>
                </svg>
        li.soc-list__item
            a(href="")
                <svg xmlns="http://www.w3.org/2000/svg" width="21.308" height="12.861" viewBox="0 0 21.308 12.861">
                    <path d="M1416.053,96.136c.39,0,.779.011,1.169,0a.954.954,0,0,1,.871.469q.43.625.825,1.264c.6.941,1.135,1.91,1.754,2.832a5.28,5.28,0,0,0,.768.946c.333.294.562.244.734-.163a5.281,5.281,0,0,0,.287-1.521c.057-.751.046-1.511.046-2.267a.649.649,0,0,0-.18-.6.755.755,0,0,0-.622-.211c-.138,0-.286.006-.436.005-.057,0-.138.025-.16-.039a.162.162,0,0,1,.069-.168,4.126,4.126,0,0,1,2.212-1.2,10.766,10.766,0,0,1,1.673-.047c.264-.008.527,0,.8,0a.794.794,0,0,1,.837.609,4.053,4.053,0,0,1,.149,1.385c0,1.044-.114,2.088-.023,3.132a3.058,3.058,0,0,0,.207.906.5.5,0,0,0,.435.371.515.515,0,0,0,.517-.264,2.289,2.289,0,0,0,.309-.585,26.826,26.826,0,0,1,2.659-4.763.849.849,0,0,1,.734-.333,8.376,8.376,0,0,1,3.141.464,1.652,1.652,0,0,1,.172.08.4.4,0,0,1,.262.212.357.357,0,0,1-.01.324,5.3,5.3,0,0,1-.665,1.394c-.642,1.083-1.433,2.069-2.155,3.093a5.538,5.538,0,0,0-.424.655.652.652,0,0,0-.177.587.692.692,0,0,0,.395.485,10.3,10.3,0,0,1,1.49,1.354,11.333,11.333,0,0,1,1.341,1.626,1.306,1.306,0,0,1-.115,1.64,1.494,1.494,0,0,1-1.077.463c-.814.012-1.628,0-2.453,0a.833.833,0,0,1-.585-.214c-.229-.214-.458-.429-.676-.643a15.852,15.852,0,0,0-1.582-1.453c-.126-.089-.241-.171-.366-.253a1.146,1.146,0,0,0-1.307-.116,1.5,1.5,0,0,0-.814,1.287,3.407,3.407,0,0,1-.092.836.678.678,0,0,1-.745.556,7.652,7.652,0,0,1-2.533-.287,7.565,7.565,0,0,1-2.774-1.707,20.5,20.5,0,0,1-5.135-7.429c-.24-.589-.481-1.179-.722-1.767-.218-.545-.057-.858.527-.906.481-.039.963-.008,1.444-.008v-.042Z" transform="translate(-1413.99 -95.432)"/>
                </svg>