mixin file
    .file
        div
            span.file__headline 
                img(src="assets/img/file-icon.png", alt="")
                | «О внесении ГИМС МЧС России спасено 59 человек на акваториях за два последних месяца»
            ul.file__info-list
                li Нормативно правовой акт МЧС…
                li от 25.05.2019 №85
                li 364 kB, PDF
        div
            a(href="" download).btn.file__btn Скачать