@import '../../style/_variables.less';

.share-line {
    align-items: center;
    background-color: @blue;
    display: flex;
    justify-content: flex-end;
    padding: 12px;
    margin-bottom: 28px;

    @media (max-width: 480px) {
        display: block;
        padding: 8px 12px 12px;
        text-align: center;
    }

    &.share-line_article {
        justify-content: space-between;

        & > div:nth-of-type(2) {
            align-items: center;
            display: flex;
        }

        .article-card-info {
            color: #FFF;
            font-size: 0.875rem;
            margin-right: 16px;
            opacity: 1;

            svg {
                fill: #FFF;
            }
        }

        @media (max-width: 576px) {
            display: block;

            .article-card-info {
                margin-bottom: 8px;
            }
        } 
    }
}

.share-line__title {
    color: #FFF;
    font-size: 0.875rem;
    font-weight: 500;
    margin-right: 20px;

    @media (max-width: 480px) {
        display: inline-block;
        margin: 0;
        padding-bottom: 12px;
    }
}