@import '../../style/_variables.less';

.share-line {
    align-items: center;
    background-color: @blue;
    display: flex;
    justify-content: flex-end;
    padding: 12px;
    margin-bottom: 28px;
}

.share-line__title {
    color: #FFF;
    font-size: 0.875rem;
    font-weight: 500;
    margin-right: 20px;
}