mixin share-line
    .share-line
        span.share-line__title Поделиться
        <div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,moimir,twitter,viber,whatsapp,skype,telegram" data-size="m"></div>