mixin aside-link(title="Заголовок", srcOfIcon)
    li.aside-link
        img(src="" + srcOfIcon, alt="").aside-link__icon
        span.aside-link__title= title
        <svg xmlns="http://www.w3.org/2000/svg" width="14.837" height="14.837" viewBox="0 0 14.837 14.837">
            <g transform="translate(-147.031 142.85)">
                <g>
                    <path d="M154.45-128.014c-1.92,0-3.841,0-5.762,0a1.628,1.628,0,0,1-1.656-1.663q0-5.744,0-11.486a1.634,1.634,0,0,1,1.679-1.681q2.342,0,4.683,0c.252,0,.253,0,.253.261q0,.588,0,1.176c0,.237-.008.244-.253.244-1.477,0-2.955,0-4.432,0-.19,0-.254.044-.253.245q.007,5.5,0,11c0,.183.063.224.234.224q5.5-.006,11.005,0c.189,0,.237-.059.236-.241-.006-1.459,0-2.917,0-4.375,0-.322,0-.322.331-.322.379,0,.758,0,1.137,0,.152,0,.217.042.216.207,0,1.625,0,3.251-.006,4.876a1.631,1.631,0,0,1-1.569,1.534c-1.946.005-3.893,0-5.84,0Z" fill="#2862ac"/>
                    <path d="M158.989-141.164h-.282q-1.6,0-3.2,0c-.258,0-.262-.005-.262-.255,0-.392.009-.784,0-1.176-.006-.189.048-.255.248-.254,1.747.007,3.494,0,5.241,0,.3,0,.592.012.886,0,.2-.011.25.059.25.251-.007,1.593,0,3.186,0,4.779,0,.462,0,.925,0,1.387,0,.147-.046.209-.2.206-.424-.007-.848-.009-1.272,0-.175,0-.218-.067-.217-.228.005-1.079,0-2.158,0-3.238v-.205a.43.43,0,0,0-.208.157q-3.816,3.8-7.629,7.605c-.195.194-.194.193-.393-.007-.276-.278-.547-.562-.834-.828-.141-.131-.121-.207.007-.334q3.224-3.208,6.438-6.425l1.241-1.239C158.852-141.018,158.9-141.069,158.989-141.164Z" fill="#2862ac"/>
                </g>
            </g>
        </svg>
        a(href="#")
