meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(http-equiv="X-UA-Compatible", content="ie=edge")
title Земское собрание
link(rel="stylesheet", href="assets/css/jquery.mmenu.all.css")
link(rel="stylesheet", href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css")
link(rel="stylesheet", href="assets/css/mainstyle.css")
script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
script(src="assets/js/slick.min.js")
script(src="assets/js/jquery.mmenu.all.min.js")
script(src="assets/js/caleandar.js")
script(src="assets/js/jquery.waterwheelCarousel.min.js")
script(src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js")
script(src="https://yastatic.net/es5-shims/0.0.2/es5-shims.min.js")
script(src="https://yastatic.net/share2/share.js")
script(src="assets/js/common.js")



