mixin deputy
    li.deputy
        .deputy__img
            img(src="assets/img/deputy-small.jpg", alt="")
        .deputy__info
            span.deputy__surname Федотов
            span.deputy__name Иван Сергеевич
            span.deputy__region Округ №15
            a(href="").link-block