include ./mixins/soc-list/soc-list.pug
include ./mixins/breadcrumbs/breadcrumbs.pug
include ./mixins/deputy/deputy.pug
include ./mixins/bunner/bunner.pug
include ./mixins/share-line/share-line.pug

doctype html
html(lang="ru")
    head
        include ./templates/head/head.pug
    body
        header
            include ./templates/header/header.pug
        main
            .not-index-page
                .container
                    .content-with-aside
                        div
                            +breadcrumbs("Депутаты")
                            ul.deputies-list
                                +deputy
                                +deputy
                                +deputy
                                +deputy
                                +deputy
                                +deputy
                                +deputy
                                +deputy
                                +deputy
                                +deputy
                                +deputy
                                +deputy
                            +share-line
                        div
                            +bunner
                            +bunner
            include ./templates/mobile-menu/mobile-menu.pug
        footer
            include ./templates/footer/footer.pug