include ./mixins/icons/icons.pug
include ./mixins/soc-list/soc-list.pug
include ./mixins/breadcrumbs/breadcrumbs.pug
include ./mixins/file/file.pug
include ./mixins/bunner/bunner.pug
include ./mixins/document/document.pug
include ./mixins/share-line/share-line.pug

doctype html
html(lang="ru")
    head
        include ./templates/head/head.pug
    body
        header
            include ./templates/header/header.pug
        main
            .not-index-page
                .container
                    .content-with-aside
                        div
                            +breadcrumbs("Документы")
                            h1.block-headline Документы
                            ul.documents-list
                                +document("На уровень выше", "directory-icon.png")
                                +document("Законодательство Пермского края")
                                +document("Законодательство Пермского края")
                                +document("Законодательство Пермского края")
                                +document("Законодательство Пермского края")
                                +document("Законодательство Пермского края")
                                +document("Законодательство Пермского края")
                            h2.block-headline Документы
                            +file
                            +file
                            +share-line
                        div
                            form(action="").file-searcher
                                h3.file-searcher__healine Поиск документов
                                .file-searcher__wrapper
                                    label.file-searcher__submit
                                        input(type="submit", value="")
                                        +icon-search
                                    input(type="search", name="", placeholder="Поиск").file-searcher__input
                            +bunner
                            +bunner
                            

            include ./templates/mobile-menu/mobile-menu.pug
        footer
            include ./templates/footer/footer.pug