mixin articles-nav
    nav.articles-nav
        button.articles-nav_button(aria-label="Следующая страница") &#60;
        ul
            li
                a(href="").articles-nav_button 1
            li
                a(href="").articles-nav_button 2
            li
                a(href="").articles-nav_button.active 3
            li
                a(href="").articles-nav_button 4
            li
                a(href="").articles-nav_button 5
        button.articles-nav_button(aria-label="Предыдущая страница") &#62;